<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Adding Meta Tags --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - My Portfolio</title>
    {{!-- Adding css file --}}
    <link rel="stylesheet" href="/css/style.css">
    <!-- Add Bootstrap CSS link here -->
</head>
<body>
    {{!-- Shared Header --}}
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    {{!-- Shared Footer --}}
    <footer>
        <p>Connect with me on <a href="https://github.com/vanshgits">GitHub</a> and <a href="https://www.linkedin.com/in/vanshit-amin-62463124b/">LinkedIn</a></p>
    </footer>
</body>
</html>